<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.datatheorem.android.trustkit.demoappkotlin.base">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"

    android:networkSecurityConfig="@xml/network_security_config">
    <activity android:name="com.datatheorem.android.trustkit.demoappkotlin.base.DemoMainActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
          android:name="default-url"
          android:value="http://datatheorem.com/trustkit" />

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:scheme="http"
            android:host="datatheorem.com"
            android:path="/trustkit" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:scheme="https"
            android:host="datatheorem.com"
            android:path="/trustkit" />
      </intent-filter>
    </activity>

  </application>



</manifest>
